
backend/TimeTracker/target/*
**/.DS_Store
.DS_Store

backend/.DS_Store
backend/TimeTracker/.DS_Store
backend/TimeTracker/.settings 
backend/TimeTracker/.classpath
backend/TimeTracker/.project

Web/.DS_Store
Web/Time\ tracker/.DS_Store
Web/Time\ tracker/.project
Web/Time\ tracker/bower_components/*
Web/Time\ tracker/node_modules/*
