
backend/TimeTracker/target/*
**/.DS_Store
.DS_Store

backend/TimeTracker/.settings 
backend/TimeTracker/.classpath
backend/TimeTracker/.project

Web/TimeTracker/bower_components/*
Web/TimeTracker/node_modules/*
