body {
  font-family: 'Open Sans'; }

.wrapper .navbar {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
  border-radius: 0px;
  box-shadow: 0 0 5px 0;
  margin: 0px;
  padding: 0px; }
  .wrapper .navbar h2 {
    margin: 0px;
    padding: 25px; }

.wrapper .container {
  padding: 35px; }

footer .copyright {
  background-color: #f1f1f1;
  box-shadow: 0 1px 3px -1px;
  padding: 35px;
  text-align: center; }

.form-wrap {
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0;
  margin-top: 45px;
  padding: 25px; }
  .form-wrap h2 {
    margin: 0px; }
  .form-wrap .login-form {
    padding: 25px 0px; }
  .form-wrap.forgot {
    height: 200px; }

.align-text {
  text-align: left; }

.section {
  padding: 30px; }

input .ng-dirty.ng-invalid {
  border-color: red; }

.signup-form-container {
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: -1px -7px 31px -7px;
  padding: 21px; }

.timesheet-container h3 {
  margin: 0px;
  padding: 0px; }

.tt-table {
  padding: 12px; }
  .tt-table table {
    width: 98%; }

table tbody tr:nth-child(odd) {
  background-color: #def; }

table tbody tr:nth-child(even) {
  background-color: #fff; }

.container {
  min-height: 520px; }

.welcome-title .icon {
  text-align: right; }

.message {
  color: #99C240; }

.col-span {
  text-align: right; }

.help-icons div {
  margin-top: 8px; }

.seperator {
  margin-top: -15px;
  text-align: left;
  margin-left: 97px; }
  .seperator span {
    display: inline-block;
    position: relative; }
  .seperator span:before {
    margin-right: 15px;
    right: 100%; }
  .seperator span:after {
    left: 100%;
    margin-left: 15px; }
  .seperator span:before,
  .seperator span:after {
    background: #757171;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 80px; }

.error-message {
  color: #ff0000; }

.border .btom-mrgn {
  border: solid 0.7px #ededed;
  margin: 10px; }

.divider {
  margin: 10px;
  height: auto;
  display: inline-block; }

.align-txt {
  text-align: center; }

.img {
  width: 15px; }

.forgot-btn-container {
  margin-top: 26px;
  margin-left: -67px; }

.input-email input {
  height: 31px;
  margin-top: 3px; }
