
<div class="form-wrap">
	<div class="container wraper-margin-top-minus">
		<div class="row row-margin">
		<div class="col-sm-3 col-xs-12"> </div>
		<div class="col-sm-6 col-xs-12 signup-form-container">
			<h3 class="align-txt">TimeSheet</h3>
			<form  name="detailview" role="form" novalidate="true" ng-submit="detailview.$valid && detail.saveTimesheet()">
				<div class="form-group">
					<div class="col-sm-12">
				   		<label for="">Day</label>
					    <div class="input-group">
					        <input type="text" name="dayin" ng-model="timesheet.dayin" class="form-control"  placeholder="Start" mask='99:99'>
					    		<div class="input-group-addon">To</div>
					      	<input type="text" name="dayout" ng-model="timesheet.dayout" class="form-control"  placeholder="End" mask='99:99'>
					    </div>
					    <span ng-show="(detailview.$submitted && detailview.dayin.$invalid) || (detailview.dayin.$dirty && detailview.dayin.$invalid)"> Please enter correct time format.
					    </span>
				    </div>
			    </div>
		    	<div class="form-group">
		    		<div class="col-sm-12">
				   		<label  for="">Lunch</label>
					    <div class="input-group">
					        <input type="text" name="lunchin" ng-model="timesheet.lunchin" class="form-control" placeholder="Start" mask='99:99'>
					    	<div class="input-group-addon">To</div>
					      	<input type="text" name="lunchout" ng-model="timesheet.lunchout" class="form-control"  placeholder="End" mask='99:99'>			      
					    </div>
				    </div>
			    </div>
			    <div class="form-group">
			    	<div class="col-sm-12">
				   		<label  for="">Night</label>
					    <div class="input-group">
					        <input type="text" name="nightin" ng-model="timesheet.nightin" class="form-control" placeholder="Start" mask='99:99'>
					    	<div class="input-group-addon">To</div>
					      	<input type="text" name="nightout" ng-model="timesheet.nightout" class="form-control"  placeholder="End" mask='99:99'>		      
					    </div>
				    </div>
			    </div>
			     <div class="form-group">
			     	<div class="col-sm-12">
					    <div class="input-group">
					    <label  for="totalhours">Total Hours</label>
					     <button type="button" name="totalhours" id="totalhours" class="btn btn-deafult">:hrs</button>   	      
					    </div>
				    </div>
			    </div>
			     <div class="form-group">
			     	<div class="col-sm-12">
				   		<label  for="workdesc">Work Desc.</label>
					    <div class="input-group">
					        <textarea name="workdesc" class="work-description" id ="workdesc" ng-model="timesheet.workdesc" > </textarea>   	      
					    </div>
				    </div>
			    </div>
			    <div class="form-group">
			    	<div class="col-sm-12">	
					    <div class="input-group">
					      <button type="button" class="btn btn-default divider" ng-click="detail.reset()">Reset</button>
					      <button type="submit" class="btn btn-primary divider">Save</button>   
					      <a href="signup">  Back To Home Page </a> 
					    </div>
				    </div>
			    </div>
			</form>
		</div>	
		<div class="col-sm-1 col-xs-12"> </div>			
		</div>
	</div>
</div>